.calculator {
    width: 300px;
    margin: 50px auto;
}

.calculator__display {
    background: #ccc;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
